*{
  padding: 0;
  margin: 0;
}
body{
  background-color:darkgray;
}
.container{
  display: flex;
  gap:35px;
  width: 1150px;
  height: 550px;
  border-radius: 8px;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  background-color: rgb(101, 101, 228) ;
  
}
hr{
  margin-bottom: 10px;
}
.card{
  background-color: white;
  border-radius: 20px;
  padding:30px;
}
.order{
  list-style: none;
  text-align: left;
  line-height: 38px;
  font-size: 14px;
}
.btn1{
  text-align: center;
  background-color: rgb(60, 102, 181);
  margin-top: 30px;
  width:260px;
  border-radius:25px;
  color: white;
  font-weight: bold;
  border: none;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.listItem{
 
  color:rgb(43, 42, 42);
  font-family: Arial;
}
.listItem1{
  color:grey;
  font-family: Arial;
}
.heading{
  font-size: 30px;
  font-weight: 900;
  margin: 10px;
  font-family: 'Gill Sans';
}
.para1{
  font-weight: 700;
  font-family: 'Gill Sans';
  color: gray;
  text-align: center;
}
.span1{
  font-size: 12px;
  font-family: 'Gill Sans';
}
.icon{
  margin-right: 9px;
}
